<h2>Albums</h2>
<table class="table table-bordered table-hover table-sm">
	<thead class="bg-success text-light">
		<tr>
			<th>
				<a href class="text-light" ng-click="albumSortType='albumid'; albumSortReverse = !albumSortReverse">
					Album ID
					<i class="fa fa-caret-up" ng-show="albumSortType === 'albumid' && albumSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="albumSortType === 'albumid' && !albumSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search albums" ng-model="albumSearch.albumid" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="albumSortType='mainartist'; albumSortReverse = !albumSortReverse">
					Main Artist
					<i class="fa fa-caret-up" ng-show="albumSortType === 'mainartist' && albumSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="albumSortType === 'mainartist' && !albumSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search main artists" ng-model="albumSearch.mainartist" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="albumSortType='violin'; albumSortReverse = !albumSortReverse">
					Violin
					<i class="fa fa-caret-up" ng-show="albumSortType === 'violin' && albumSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="albumSortType === 'violin' && !albumSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search violinists" ng-model="albumSearch.violin" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="albumSortType='mridangam'; albumSortReverse = !albumSortReverse">
					Mridangam
					<i class="fa fa-caret-up" ng-show="albumSortType === 'mridangam' && albumSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="albumSortType === 'mridangam' && !albumSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search mridangists" ng-model="albumSearch.mridangam" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="albumSortType='upapakkavadhyam'; albumSortReverse = !albumSortReverse">
					Upapakkavadhyam
					<i class="fa fa-caret-up" ng-show="albumSortType === 'upapakkavadhyam' && albumSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="albumSortType === 'upapakkavadhyam' && !albumSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search upapakkavadhyam" ng-model="albumSearch.upapakkavadhyam" /></div>
			</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in albumData | orderBy:albumSortType:albumSortReverse | filter:albumSearch" ng-click="accessAlbum(row.albumid)" class="album_table_hover">
			<td ng-click="$log.log('cell clicked')">{{row.albumid}}</td>
			<td>{{row.mainartist}}</td>
			<td>{{row.violin}}</td>
			<td>{{row.mridangam}}</td>
			<td class="td-multi-line">{{row.upapakkavadhyam}}</td>
		</tr>
	</tbody>
</table>

