<h2>Playlist</h2>
<p class="mb-1">Show/hide columns: </p>

<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.albumid" ng-change="showHidePlaylistColumn('albumid', playlistColumnEnable.albumid)">
	<label class="form-check-label">Album ID</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.tracknumber" ng-change="showHidePlaylistColumn('tracknumber', playlistColumnEnable.tracknumber)">
	<label class="form-check-label">Track #</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.type" ng-change="showHidePlaylistColumn('type', playlistColumnEnable.type)">
	<label class="form-check-label">Type</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.ragam" ng-change="showHidePlaylistColumn('ragam', playlistColumnEnable.ragam)">
	<label class="form-check-label">Ragam</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.talam" ng-change="showHidePlaylistColumn('talam', playlistColumnEnable.talam)">
	<label class="form-check-label">Talam</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.alapana" ng-change="showHidePlaylistColumn('alapana', playlistColumnEnable.niraval)">
	<label class="form-check-label">A</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.niraval" ng-change="showHidePlaylistColumn('niraval', playlistColumnEnable.niraval)">
	<label class="form-check-label">N</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.swaram" ng-change="showHidePlaylistColumn('swaram', playlistColumnEnable.swaram)">
	<label class="form-check-label">S</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.composer" ng-change="showHidePlaylistColumn('composer', playlistColumnEnable.composer)">
	<label class="form-check-label">Composer</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.comments" ng-change="showHidePlaylistColumn('comments', playlistColumnEnable.comments)">
	<label class="form-check-label">Comments</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.mainartist" ng-change="showHidePlaylistColumn('mainartist', playlistColumnEnable.mainartist)">
	<label class="form-check-label">Main Artist</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.violin" ng-change="showHidePlaylistColumn('violin', playlistColumnEnable.violin)">
	<label class="form-check-label">Violin</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.mridangam" ng-change="showHidePlaylistColumn('mridangam', playlistColumnEnable.mridangam)">
	<label class="form-check-label">Mridangam</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.upapakkavadhyam" ng-change="showHidePlaylistColumn('upapakkavadhyam', playlistColumnEnable.upapakkavadhyam)">
	<label class="form-check-label">Upapakkavadhyam</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.concertsabha" ng-change="showHidePlaylistColumn('concertsabha', playlistColumnEnable.concertsabha)">
	<label class="form-check-label">Sabha</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.sabhalocation" ng-change="showHidePlaylistColumn('sabhalocation', playlistColumnEnable.sabhalocation)">
	<label class="form-check-label">Location</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" ng-model="playlistColumnEnable.date" ng-change="showHidePlaylistColumn('date', playlistColumnEnable.date)">
	<label class="form-check-label">Date</label>
</div>	

<div class="mb-2 mt-2">
	<button type="button" class="btn btn-primary btn-sm" ng-click="showHidePlaylistDefault()">Show default columns</button>
	<div class="float-right">
		<button type="button" class="btn btn-primary btn-sm" ng-click="playlistPlayAll()" data-toggle="tooltip" data-placement="bottom" title="Max 50 videos" onmouseenter="$(this).tooltip('show')" ng-disabled="playlistData.length == 0">Play all</button>
		<button type="button" class="btn btn-primary btn-sm" ng-click="playlistPlaySelected()" ng-disabled="!playlistItemsSelected" data-toggle="tooltip" data-placement="bottom" title="Max 50 videos" onmouseenter="$(this).tooltip('show')">Play selected</button>
		<button type="button" class="btn btn-danger btn-sm" ng-click="playlistDeleteAll()">Remove all from playlist</button>
		<button type="button" class="btn btn-danger btn-sm" ng-click="playlistDeleteSelected()" ng-disabled="!playlistItemsSelected">Remove selected from playlist</button>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-bordered table-hover table-sm">
		<thead class="bg-danger text-light">
			<tr>
				<th class="td-playlist-controls bg-secondary">
				</th>
				<th class="td-select bg-secondary">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" ng-model="playlist_select_all" ng-change="playlistSelectAll(playlist_select_all)">
					</div>
				</th>
				<th ng-show="playlistColumnEnable.albumid" class="td-narrow">
					Album ID
				</th>
				<th ng-show="playlistColumnEnable.tracknumber" class="td-super-narrow">
					Track #
				</th>
				<th ng-show="playlistColumnEnable.songtitle">
					Title
				</th>
				<th ng-show="playlistColumnEnable.type" class="td-narrow">
					Type
				</th>
				<th ng-show="playlistColumnEnable.ragam">
					Ragam
				</th>
				<th ng-show="playlistColumnEnable.talam">
					Talam
				</th>
				<th ng-show="playlistColumnEnable.composer">
					Composer
				</th>
				<th ng-show="playlistColumnEnable.alapana" class="td-manodharmam">
					A
				</th>
				<th ng-show="playlistColumnEnable.niraval" class="td-manodharmam">
					N
				</th>
				<th ng-show="playlistColumnEnable.swaram" class="td-manodharmam">
					S
				</th>
				<th ng-show="playlistColumnEnable.comments">
					Comments
				</th>
				<th ng-show="playlistColumnEnable.mainartist">
					Main Artist
				</th>
				<th ng-show="playlistColumnEnable.violin">
					Violin
				</th>
				<th ng-show="playlistColumnEnable.mridangam">
					Mridangam
				</th>
				<th ng-show="playlistColumnEnable.upapakkavadhyam">
					Upapakkavadhyam
				</th>
				<th ng-show="playlistColumnEnable.concertsabha">
					Sabha
				</th>
				<th ng-show="playlistColumnEnable.sabhalocation" ng-show="playlistColumnEnable.sabhalocation">
					Location
				</th>
				<th ng-show="playlistColumnEnable.date">
					Date
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in playlistData">
				<td class="td-playlist-controls">
					<a class="btn btn-primary btn-sm text-light" ng-href="https://youtube.com/watch?v={{row.youtubevideoid}}" target="_blank"> <i class="fa fa-play" aria-hidden="true"></i> </a>
					<button type="button" class="btn btn-info btn-sm text-light" ng-click="playlistInfoButtonClick(row)"> <i class="fa fa-info" aria-hidden="true"></i> </button>
					<button type="button" class="btn btn-danger btn-sm text-light" ng-click="playlistMoveRow(row, -1)"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </button>
					<button type="button" class="btn btn-danger btn-sm text-light" ng-click="playlistMoveRow(row, 1)"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </button>
					<button type="button" class="btn btn-danger btn-sm text-light" ng-click="playlistDeleteRows([row])"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
				</td>
				<td class="td-select">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" ng-model="row.selected">
					</div>
				</td>
				<td ng-show="playlistColumnEnable.albumid" class="td-narrow">{{row.albumid}}</td>
				<td ng-show="playlistColumnEnable.tracknumber" class="td-super-narrow">{{row.tracknumber}}</td>
				<td ng-show="playlistColumnEnable.songtitle">{{row.songtitle}}<span class="new-label" ng-show="row.newtrack">New!</span></td>
				<td ng-show="playlistColumnEnable.type" class="td-narrow">{{row.type}}</td>
				<td ng-show="playlistColumnEnable.ragam">{{row.ragam}}</td>
				<td ng-show="playlistColumnEnable.talam">{{row.talam}}</td>
				<td ng-show="playlistColumnEnable.composer">{{row.composer}}</td>
				<td ng-show="playlistColumnEnable.alapana"> <i class="fa fa-check" ng-show="row.alapana == 'y'"></i> </td>
				<td ng-show="playlistColumnEnable.niraval"> <i class="fa fa-check" ng-show="row.niraval == 'y'"></i> </td>
				<td ng-show="playlistColumnEnable.swaram"> <i class="fa fa-check" ng-show="row.swaram == 'y'"></i> </td>
				<td ng-show="playlistColumnEnable.comments">{{row.comments}}</td>
				<td ng-show="playlistColumnEnable.mainartist">{{row.mainartist}}</td>
				<td ng-show="playlistColumnEnable.violin">{{row.violin}}</td>
				<td ng-show="playlistColumnEnable.mridangam">{{row.mridangam}}</td>
				<td ng-show="playlistColumnEnable.upapakkavadhyam" class="td-multi-line">{{row.upapakkavadhyam}}</td>
				<td ng-show="playlistColumnEnable.concertsabha">{{row.concertsabha}}</td>
				<td ng-show="playlistColumnEnable.sabhalocation">{{row.sabhalocation}}</td>
				<td ng-show="playlistColumnEnable.date">{{row.date}}</td>
			</tr>
			<tr>
				<td class="text-center" colspan=20 ng-show="playlistData.length == 0">Playlist currently empty. Add songs from the track list page!</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="playlistInfoModal" tabindex="-1" role="dialog" aria-labelledby="playlistInfoModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Track Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<span ng-if="playlistModalContent.songtitle"><strong>Song Title: </strong>{{playlistModalContent.songtitle}}<br /></span>
				<span ng-if="playlistModalContent.type"><strong>Type: </strong>{{playlistModalContent.type}}<br /></span>
				<span ng-if="playlistModalContent.ragam"><strong>Ragam: </strong>{{playlistModalContent.ragam}}<br /></span>
				<span ng-if="playlistModalContent.talam"><strong>Talam: </strong>{{playlistModalContent.talam}}<br /></span>
				<span ng-if="playlistModalContent.composer"><strong>Composer: </strong>{{playlistModalContent.composer}}<br /></span>
				<span ng-if="playlistModalContent.alapana"><strong>Alapana: </strong>{{playlistModalContent.alapana}}<br /></span>
				<span ng-if="playlistModalContent.niraval"><strong>Niraval: </strong>{{playlistModalContent.niraval}}<br /></span>
				<span ng-if="playlistModalContent.swaram"><strong>Swaram: </strong>{{playlistModalContent.swaram}}<br /></span>
				<span ng-if="playlistModalContent.comments"><strong>Comments: </strong>{{playlistModalContent.comments}}<br /></span>
				<br />
				<span ng-if="playlistModalContent.albumid"><strong>Album ID: </strong>{{playlistModalContent.albumid}}<br /></span>
				<span ng-if="playlistModalContent.tracknumber"><strong>Track Number: </strong>{{playlistModalContent.tracknumber}}<br /></span>
				<span ng-if="playlistModalContent.mainartist"><strong>Main Artist: </strong>{{playlistModalContent.mainartist}}<br /></span>
				<span ng-if="playlistModalContent.violin"><strong>Violin: </strong>{{playlistModalContent.violin}}<br /></span>
				<span ng-if="playlistModalContent.mridangam"><strong>Mridangam: </strong>{{playlistModalContent.mridangam}}<br /></span>
				<span ng-if="playlistModalContent.ghatam"><strong>ghatam: </strong>{{playlistModalContent.ghatam}}<br /></span>
				<span ng-if="playlistModalContent.kanjira"><strong>Kanjira: </strong>{{playlistModalContent.kanjira}}<br /></span>
				<span ng-if="playlistModalContent.morsing"><strong>Morsing: </strong>{{playlistModalContent.morsing}}<br /></span>
				<span ng-if="playlistModalContent.vocalsupport"><strong>Vocal Support: </strong>{{playlistModalContent.vocalsupport}}<br /></span>
				<span ng-if="playlistModalContent.otherartist"><strong>Other Artist: </strong>{{playlistModalContent.otherartist}}<br /></span>
				<span ng-if="playlistModalContent.concertsabha"><strong>Sabha: </strong>{{playlistModalContent.concertsabha}}<br /></span>
				<span ng-if="playlistModalContent.sabhalocation"><strong>Location: </strong>{{playlistModalContent.sabhalocation}}<br /></span>
				<span ng-if="playlistModalContent.date"><strong>Date: </strong>{{playlistModalContent.date}}<br /></span>
				<span ng-if="playlistModalContent.audioquality"><strong>Audio Quality: </strong>{{playlistModalContent.audioquality}}<br /></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
