<table class="table table-bordered table-hover">
	<thead class="bg-primary text-light">
		<tr>
			<th>
				<a href class="text-light" ng-click="krithiSortType='songtitle'; krithiSortReverse = !krithiSortReverse">
					Song Title
					<i class="fa fa-caret-up" ng-show="krithiSortType === 'songtitle' && krithiSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="krithiSortType === 'songtitle' && !krithiSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search songs" ng-model="krithiSearch.songtitle" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="krithiSortType='albumid'; krithiSortReverse = !krithiSortReverse">
					Album ID
					<i class="fa fa-caret-up" ng-show="krithiSortType === 'albumid' && krithiSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="krithiSortType === 'albumid' && !krithiSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search album IDs" ng-model="krithiSearch.albumid" /></div>
			</th>
			<th>
				<a href class="text-light" ng-click="krithiSortType='tracknumber'; krithiSortReverse = !krithiSortReverse">
					Track Number
					<i class="fa fa-caret-up" ng-show="krithiSortType === 'tracknumber' && krithiSortReverse"></i>
					<i class="fa fa-caret-down" ng-show="krithiSortType === 'tracknumber' && !krithiSortReverse"></i>
				</a>
				<div class="input-group input-group-sm"><input type="text" class="form-control" placeholder="Search track number" ng-model="krithiSearch.tracknumber" /></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in krithiData | orderBy:krithiSortType:krithiSortReverse | filter:krithiSearch">
			<td>{{row.songtitle}}</td>
			<td>{{row.albumid}}</td>
			<td>{{row.tracknumber}}</td>
		</tr>
	</tbody>
</table>
